/*
Author: Mahmudul Anam
Variable

*/

/******************************
        Font Veriable
********************************/

/******************************
        Color Veriable
********************************/
$navbackground: #e9d5d5;
$banner-background: url("./asset/images/banner1.jpg");
$font-family-lato: Lato, sans-serif;
$product-text-color: rgb(13, 17, 54);
$cart-button-color: #308c3f;
$cart-button-hover-color: #ffffff;
$cart-button-background: #eeeeee;
$cart-button-hover-background: #308c3f;
$category-link-color: #444444;
$category-link-hover-color: #666666;
$primary-color: #00a07e;

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
/***
================================
            Main
================================
**/
body {
  font-family: "Poppins";
  font-size: 14px;
}
.header {
  background-color: $navbackground !important;
}

.logo {
  width: 150px;
  margin-top: 35px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.banner {
  background: $banner-background;
  height: 70vh;
  margin-left: 0;
  margin-right: 0;
}

.banner h2 {
  font-size: 45px;
  line-height: 65px;
  font-weight: 800;
  margin-top: 100px;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.featured-image {
  max-width: 100%;
}

.row-space-top {
  margin-top: 60px !important;
}
section {
  margin-left: 40px;
  margin-right: 40px;
}

#custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  border-radius: 3px;
  color: #308c3f;
}

.search-query:focus + button {
  z-index: 3;
}

.hero {
  max-width: 800px;
}

/***
================================
            Footer
================================
**/
.packshot {
  max-width: 100%;
}
.product-title {
  font-family: $font-family-lato;
  font-size: 15px;
  font-weight: 400;
  color: $product-text-color;
  margin: 0px 0px 7px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-weight {
  font-family: $font-family-lato;
  font-size: 13px;
  font-weight: 400;
  color: $product-text-color;
  display: block;
}
.product-price {
  font-family: $font-family-lato;
  font-size: 15px;
  font-weight: 700;
  color: $product-text-color;
}
.btn-cart-plus {
  background-color: rgb(0, 158, 127);
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 20;
  font-weight: 400;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  width: 50px;
  height: 25px;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
}
.btn-cart-plus-minus {
  background-color: rgb(0, 158, 127);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  border-radius: 20;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  width: 50px;
  height: 25px;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
}
.btn-cart {
  border: 2px solid rgb(247, 247, 247);
  background-color: $cart-button-background;
  color: $cart-button-color;
  border-radius: 18px;
  height: 36px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 13px;
  font-weight: 400;
}

.btn-cart:hover {
  background-color: $primary-color;
  color: $cart-button-hover-color;
}

.btn-card {
  float: right;
}
.fa-shopping-basket {
  margin-right: 5px !important;
}
.section-background {
  background-color: #f7f7f7;
}

.nav-item {
  font-family: Lato, sans-serif !important;
}

.search-box {
  max-width: 600px !important;
}

.category-icon {
  width: 20px;
  margin-right: 20px;
}
.category-link {
  font-family: $font-family-lato;
  font-size: 16px;
  line-height: 22px;
  color: $category-link-color;
}
.category-link:hover {
  color: $category-link-hover-color;
  cursor: pointer;
}

.btn-cart {
  border: 2px solid #f7f7f7;
  background-color: #eeeeee;
  color: $primary-color;
  border-radius: 18px;
  height: 36px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 18px;
  font-weight: 400;
}

.btn-cart:hover {
  background-color: $primary-color;
  color: #ffffff;
}

.btn-card {
  float: right;
}

.fa-cart {
  margin-bottom: 10px;
  font-size: 25px;
  margin-right: 5px;
}
.sec {
  position: relative;
}
.cart-bag {
  position: fixed;
  top: 320px;
  right: 5px;
  text-decoration: non !important;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  padding: 10px 10px;
  background-color: $primary-color;
  color: #ffff;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;
  .items {
    font-size: 15px;
    padding: 8px;
    text-transform: capitalize;
  }
  .c-box {
    margin-bottom: 5px;
    margin-right: 5px;
  }
  .total {
    font-size: 14px;
    font-weight: 300;
    background-color: #ffff;
    border-radius: 5px;
    padding: 8px;
    color: #308c3f;
    text-align: center;
  }
}
.cart-bag:hover {
  color: #ffff;
  text-decoration: none !important;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
  border-bottom: 2px solid gray;
  .cart-img {
    width: 60px;
    height: 80px;
  }

  i {
    font-size: 18px;
    color: $cart-button-color;
    text-align: right;
  }
  .p-price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cart-pname {
  font-size: 15px;
  font-weight: 300;
}
.cart-pprice {
  font-size: 15px;
  font-weight: 400;
  color: #308c3f;
}
.check-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quantity {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#side a {
  font-size: 20px;
  color: black !important;
}
.product-cart {
  border-radius: 10px;
  border: 2px solid #f5f0f0;
  padding: 20px;

  margin-top: 10px;
}
.product-cart:hover {
  -webkit-box-shadow: 0px -3px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 9px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 9px -3px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.inside-btn {
  background: rgb(112, 112, 112);
  color: #ccc;
  display: inline-block;
  margin: 10px 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.inside-btn:hover {
  background: rgb(83, 83, 83);
}

/***
================================
            modal
================================

**/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  display: grid;
  place-items: center;

  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: $primary-color;
  border-radius: var($radius);
  width: 30vw;
  height: 30vh;
  max-width: var($fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  @media (max-width: 1376px) {
    width: 50vw;
    height: 40vh;
  }
  @media (max-width: 990px) {
    width: 60vw;
    height: 40vh;
  }
  @media (max-width: 768px) {
    width: 80vw;
    height: 50vh;
  }
  @media (max-width: 557px) {
    width: 80vw;
    height: 40vh;
  }
  input {
    width: 25vw;
    height: 5vh;
    color: #fff;
    @media (max-width: 557px) {
      width: 70vw;
      height: 7vh;
    }
    @media (max-width: 768px) {
      width: 70vw;
      height: 7vh;
    }
    @media (max-width: 990px) {
      width: 50vw;
      height: 7vh;
    }
    @media (max-width: 1376px) {
      width: 40vw;
      height: 7vh;
    }
  }
  #sub {
    width: 25vw;
    height: 5vh;
    margin-top: 15px;
    background: #666666;
    border: none;
    color: #ffffff !important;
    font-size: 15x;
    @media (max-width: 557px) {
      width: 40vw;
      height: 7vh;
    }
    @media (max-width: 768px) {
      width: 60vw;
      height: 7vh;
    }
    @media (max-width: 990px) {
      width: 50vw;
      height: 7vh;
    }
    @media (max-width: 1376px) {
      width: 40vw;
      height: 7vh;
    }
  }
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  @media (max-width: 557px) {
    top: 0.3rem;
    right: 0.5rem;
  }
  @media (max-width: 990px) {
    top: 0.3rem;
    right: 0.5rem;
  }
  @media (max-width: 1376px) {
    top: 0.3rem;
    right: 0.5rem;
  }
}
.bill {
  background: #fff;
  border-radius: var($radius);
  height: 550px;
  max-width: 500px;
  text-align: center;
  display: grid;
  position: relative;
  input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }
  h1 {
    text-transform: capitalize;
  }
}
#subbtn2 {
  width: 100%;
  height: 40px;
  background: $primary-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

/***
================================
           checkout
================================
**/
.checkout {
  display: flex;
  flex-direction: column;
  h1 {
    color: #222c;
    font-size: 25px;
    text-transform: uppercase;
  }
}
.address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 700px;
  height: 250px;
  align-items: center;
  padding-bottom: 20px;
}
.sel-address {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  height: 25%;
  justify-content: left;
  padding-left: 25px;
  color: #222;
  background: #ccc;
  font-size: 14px;
  font-weight: 600;

  span {
    padding-left: 10px;
  }
  i {
    font-size: 20px;
  }
}
.ex-addres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  width: 95%;
  height: 26%;
  margin-top: 10px;
  i {
    font-size: 18px;
    color: green;
  }
  p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
  span {
    font-size: 18px;
    text-transform: capitalize;
    color: red;
    cursor: pointer;
  }
}
.new-address {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 95%;
  height: 26%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  i {
    font-size: 18px;
    color: #222;
    margin-right: 10px;
    cursor: pointer;
  }
  p {
    font-size: 15px;
    color: #222;
    text-align: center;
    margin-top: 16px;
    text-transform: capitalize;
  }
}

/***
================================
          Body
================================
**/
.order {
  width: 100%;
  margin-left: 40px;

  .check-total {
    border-top: 2px solid gray;
    margin-top: 20px;
    text-align: end;
    font-size: 20px;
    font-weight: 700;
    color: #308c3f;
  }
  h1 {
    text-align: center;
    font-size: 25px;
    color: #222;
    margin-bottom: 20px;
  }
}
.delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plc_order {
  button {
    background: $primary-color !important;
  }
}
/***
================================
          Mobile
================================
**/

// Small devices (landscape phones, 576px and up)
@media only screen and (max-width: 992px) {
  .hero {
    max-width: 340px;
  }
  .mobile-hide {
    display: none;
  }
  .logo {
    width: 150px;
    margin-top: 0px;
    margin-right: 60px;
    margin-bottom: 0px;
  }
  #custom-search-input {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
